<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>

<head>
    {% block content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <title>Team Connect - Team</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
    <link href="{% static 'css/chart.css' %}" rel="stylesheet">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->
    {% endblock content %}
</head>

<body style="overflow-x: hidden !important;">
    {% block content2 %}

        <div style="overflow-x: hidden !important" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" >
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <span class="text-top-projects">TEAM</span>
                        <hr style="border-top: 3px solid #49a9b7; background: transparent; margin-top: -0.3%;
                                    margin-left: 10%; margin-right: 10%;">
                        <div class="col-md-7">
                            <div class="col-md-4">
                                <label class="text-top-filter">Search</label>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group" style="height: 70%; margin-top: -2%; margin-left: 6%;">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="margin-top: -1%; 
                                          background: white !important; border: 0.5px solid gray !important">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button style="width: 80%" class="btn btn-primary">+ Add Team</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-10" style=" margin-left: 8.5%;">
                    <div class="panel-body" id="panel-projects">
                        <div>
                            <table class="table" id="table-team">
                                <thead>
                                    <tr>
                                        <th class="head-table" id="table-team" scope="col">NAME</th>
                                        <th class="head-table" id="table-team" scope="col">INVOLVED WORK</th>
                                        <th class="head-table" id="table-team" scope="col">
                                            <center>LAST ACCESS</center>
                                        </th>
                                        <th class="head-table" id="table-team" scope="col">OPTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="project-table">
                                            <div class="profile-userpic">
                                                <img src="{% static 'img/profile.png' %}" class="img-responsive">
                                            </div>
                                            <div class="profile-usertitle">
                                                <div class="profile-usertitle-name" style="color: black !important; font-weight: normal;
                                                    margin-top: 10%;">
                                                    Lorem Ipsum
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="chart-box">
                                                <div id="current_month" data-width="85" class="jChart chart-sm">
                                                    <div class="define-chart-row" data-color="#d9a865" title="7">7</div>
                                                    <div class="define-chart-row" data-color="#ee4271" title="1">1</div>
                                                    <div class="define-chart-row" data-color="#40a9b5" title="6">6</div>
                                                    <div class="define-chart-row" data-color="#00a49a" title="4">4</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width: 18%;" class="dates-table">
                                            <center style="padding-top: 5%;">2018/05/18 08:53 hr</center>
                                        </td>
                                        <td class="options-table">
                                            <div style="margin-top: 15%;">
                                                <img src="{% static 'img/icon_pencil.png' %}" />
                                                <img src="{% static 'img/icon_printer.png' %}" />
                                                <img src="{% static 'img/icon_trash.png' %}" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/chart.min.js' %}"></script>
            <script src="{% static 'js/chart-data.js' %}"></script>
            <script src="{% static 'js/easypiechart.js' %}"></script>
            <script src="{% static 'js/easypiechart-data.js' %}"></script>
            <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
            <script src="{% static 'js/custom.js' %}"></script>
            <script src="{% static 'js/jchart.js' %}"></script>
            <script>
                // window.onload = function () {
                // 	var chart1 = document.getElementById("line-chart").getContext("2d");
                // 	window.myLine = new Chart(chart1).Line(lineChartData, {
                // 		responsive: true,
                // 		scaleLineColor: "rgba(0,0,0,.2)",
                // 		scaleGridLineColor: "rgba(0,0,0,.05)",
                // 		scaleFontColor: "#c5c7cc"
                // 	});
                // };

                $('.dropup.keep-open').on({
                    "shown.bs.dropdown": function () { this.closable = false; },
                    "click": function () { this.closable = false; },
                    "hide.bs.dropdown": function () { return this.closable; }
                });
            </script>
            <script>
                $(document).ready(function () {
                    $("#current_month").jChart();
                });
            </script>
            {% endblock content2 %}
</body>

</html>